---
title: Lucy
---
<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="styles/prism-xonokai.css">

<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">

<body class="api">

<header class="content container">
  <h1>🤖 Robot</h1>
  <h2>Fast {{ meta.size }} functional library for creating Finite State Machines</h2>
</header>

<nav class="container">
  <ul>
    <li><a href="./">Home</a></li>
    {%- for post in collections.page -%}
      <li{% if page.url == post.url %} class="active"{% endif %}>
        {% if page.url == post.url %}
          {% if post.data.shortTitle %}
            {{ post.data.shortTitle }}
          {% else %}
            {{ post.data.title }}
          {% endif %}
        {% else %}
        <a href="{{ post.url | relUrl(page.url) }}">
          {% if post.data.shortTitle %}
            {{ post.data.shortTitle }}
          {% else %}
            {{ post.data.title }}
          {% endif %}
        </a>
        {% endif %}
      </li>
    {%- endfor -%}
    <li><a href="https://github.com/matthewp/robot">GitHub</a></li>
  </ul>
</nav>

<main>
  <article class="content container">
    {{ content | safe }}
  </article>
</main>

<footer>
  <div class="footer-content">
    <p>Made with 🔧 by <a href="https://twitter.com/matthewcp">@matthewcp</a></p>
  </div>
</footer>