<footer class="container">
  <div class="footer-content">
    <div>
      <p>Made with 🔧 by <a href="https://twitter.com/matthewcp">@matthewcp</a></p>
      <p>Logo by 🤖 <a href="https://github.com/craftedsystems">craftedsystems</a></p>
    </div>
  </div>
</footer>