<header class="content container">
  <h3>Black Lives Matter. <a href="https://support.eji.org/give/153413/#!/donation/checkout">Support the Equal Justice Initiative.</a></h3>
  <h1><img src="{{ '/images/robot-mono.png' | relUrl(page.url) }}" class="robot-logo" alt="The Robot logo" /> Robot</h1>
  <h2>Fast <strong>{{ meta.size }}</strong> functional library for creating Finite State Machines</h2>
</header>