<header class="content container">
  <h1><img src="{{ '/images/robot-mono.png' | relUrl(page.url) }}" class="robot-logo" /> Robot</h1>
  <h2>Fast <strong>{{ meta.size }}</strong> functional library for creating Finite State Machines</h2>
</header>