---
title: Robot
---
<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<meta name="title" content="{{ title }}" />
<meta name="description" content="With Robot you can build finite state machines in a simple and flexible way." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://thisrobot.life/" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="With Robot you can build finite state machines in a simple and flexible way." />
<meta property="og:image" content="https://thisrobot.life/images/robot-mono.png" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://thisrobot.life/" />
<meta property="twitter:title" content="{{ title }}" />
<meta property="twitter:description" content="With Robot you can build finite state machines in a simple and flexible way." />
<meta property="twitter:image" content="https://thisrobot.life/images/robot-mono.png" />
<link rel="stylesheet" href="{{ '/styles/main.css' | relUrl(page.url) }}">
<link rel="stylesheet" href="{{ '/styles/prism-xonokai.css' | relUrl(page.url) }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon.png' | relUrl(page.url) }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon-32x32.png' | relUrl(page.url) }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicon-16x16.png' | relUrl(page.url) }}">
<link rel="manifest" href="{{ '/images/site.webmanifest' | relUrl(page.url) }}">

<body{% if id %} id="{{ id }}"{% endif %} class="home">

{% include 'header.njk' %}

<nav class="container">
  <ul>
    {%- for post in collections.page -%}
      <li{% if page.url == post.url %} class="active"{% endif %}>
        {% if page.url == post.url %}
          {% if post.data.shortTitle %}
            {{ post.data.shortTitle }}
          {% else %}
            {{ post.data.title }}
          {% endif %}
        {% else %}
        <a href="{{ post.url | relUrl(page.url) }}">
          {% if post.data.shortTitle %}
            {{ post.data.shortTitle }}
          {% else %}
            {{ post.data.title }}
          {% endif %}
        </a>
        {% endif %}
      </li>
    {%- endfor -%}
    <li><a href="https://github.com/matthewp/robot">GitHub</a></li>
  </ul>
</nav>

<main>
  <div class="content container">
    {{ content | safe }}
  </div>
</main>

{% include 'footer.njk' %}
