* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 14px;
  line-height: 1.5;

  --link-color: #0366d6;
  --black-color: #000;
}

.robot-logo {
  width: 100px;
}

body > header {
  text-align: center;
}

body.no-title > nav {
  margin-top: 2rem;
}

body > nav {
  margin-bottom: 2.5rem;
}

body > nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

body > nav > ul li {
  display: inline-flex;
  align-items: center;
}

body > nav > ul li.active {
  font-weight: 500;
}

body > nav > ul li:after {
  content: "\25CF";
  margin: 0 .7em;
  font-size: 10px;
}

body > nav > ul li:last-child:after {
  content: "";
}

body > nav > ul a {
  color: var(--link-color);
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 66rem;
  padding: 0 1.3125rem;
}

.content {
  font-size: 16px;
}

body > .content h1 {
  font-size: 2.5em;
  border-bottom: none;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 1rem;
  justify-content: center;
  align-items: center;
}

body > .content h2 {
  margin-top: 0;
  font-weight: 400;
  font-size: 1.2rem;
}

.content ul,
.content ul {
  padding-left: 25px;
}

.content h1 {
  font-size: 2em;
}

.content h2 {
  font-size: 1.5em;
}

.content h3 {
  font-size: 1.25em;
}

.content h4 {
  font-size: 1em;
}

.content h1, .content h2, .content h3, .content h4 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
  margin-bottom: 16px;
  margin-top: 24px;
}

.content h1, .content h2, .content h3, .content h4, .content h5 {
  font-weight: 500;
}

.content h1[id] .heading-anchor, 
.content h2[id] .heading-anchor,
.content h3[id] .heading-anchor,
.content h4[id] .heading-anchor {
  color: var(--black-color);
  visibility: hidden;
}

.content h1[id] .heading-anchor {
  margin-left: -25px;
}

.content h2[id] .heading-anchor {
  margin-left: -20px;
}

.content h3[id] .heading-anchor {
  margin-left: -17px;
}

.content h4[id] .heading-anchor {
  margin-left: -15px;
}

.content h1[id]:hover .heading-anchor,
.content h2[id]:hover .heading-anchor,
.content h3[id]:hover .heading-anchor,
.content h4[id]:hover .heading-anchor,
.content h1[id] .heading-anchor:hover,
.content h2[id] .heading-anchor:hover,
.content h3[id] .heading-anchor:hover,
.content h4[id] .heading-anchor:hover  {
  visibility: visible;
}

.content a {
  color: var(--link-color);
  text-decoration: none;
}

.content pre code[class*="language-"] {
  font-size: 80%;
}

.content code:not([class*="language-"]) {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  margin: 0;
  padding: .2em .4em;
  font-size: 90%;
}

body > footer {
  height: 200px;
  position: relative;
  overflow: hidden;
}

body > footer a {
  color: #000;
  font-weight: 700;
}

.footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .api-signature:not([class*="language-"]) {
  font-size: 130%;
}

#home #robot {
  display: none;
}

#home #robot + ul {
  display: grid;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 40px 0;
}

#home #robot + ul li:first-of-type {
  margin-bottom: .5rem;
}

#home #robot + ul li {
  display: inline-block;
  margin: 0 10px;
}

/* Theme: https://www.schemecolor.com/metal-robot-color-scheme.php */
#home #robot + ul a {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 10px 19px;
  background: #A8A9AD;
  color: white;
  box-shadow: #2A3439 0px 2px 0px;
}

#why-finite-state-machines + p + p + p img,
#why-finite-state-machines + p + p + p + p + p img {
  border: 1px solid #838996;
  border-radius: 5px;
  padding: 1rem;
  max-width: 100%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content pre code[class*="language-"] {
    font-size: 100%;
  }

  #home #robot + ul {
    display: flex;
  }

  #why-finite-state-machines + p + p + p,
  #why-finite-state-machines + p + p + p + p + p {
    display: flex;
    justify-content: center;
  }

  #why-finite-state-machines + p + p + p img,
  #why-finite-state-machines + p + p + p + p + p img {
    width: 75%;
  }
}