---
import Code from '../icons/Code.astro';
import { Prism } from '@astrojs/prism';
---
<div class="bg-gray-900 rounded-lg p-6 my-6">
  {Astro.props.title && (
    <div class
  ="flex items-center gap-2 mb-4 font-mono text-cyan-400">
      <Code size={16} />
      <span>{Astro.props.title}</span>
    </div>
  )}
  <div class
="overflow-x-auto p-4 bg-black/50 rounded-lg text-gray-300 font-mono text-lg">
    <Prism lang="js" code={Astro.props.code} />   
  </div>
</div>

